{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-detail' object.pk %}" class="back-to-post" style="color: black">Back to Post</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <h5>Bạn có chắc không?</h5>
            <p>Nội dung đã xóa đi sẽ không thể xem lại.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">Xóa</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}