{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
    .container{
        width: 420px;
        min-height: 200px;
        max-height: 450px;
        background-color: #FFE8A3;
        border: 4px solid #C17D7D;
        border-radius: 10px;
        padding: 10px 20px;
        justify-content: space-evenly;
        text-align: center;
    }

    .container p{
        text-align: left;
        padding-top: 30px;
        font-weight: lighter;
    }

    .banner{
        object-fit: cover;
        width: 100%;
        height: 250px; 
        text-align: center;
    }

    .banner-wrapper{
        margin: 0;
        display: flex;
        justify-content: center;
        height: 250px;
        background-color: #FFE8A3;
    }

    .avt{
        margin: -150px 0px 0px 50px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        vertical-align: middle;
        border-radius: 50%
    }

    .editprofile-container{
        width: 100%;
        height: 100%; 
        background-color: rgba(0,0,0,0.7); 
        position: absolute; 
        top: 0;
        display: flex; 
        justify-items: center;
        align-items: center;
    }

    .editbox{
        margin: auto;
        max-width: 400px;
        background-color: #FFE8A3;
        border: 3px solid #C17D7D;
        border-radius: 5px;
        padding: 10px 30px; 
    }

    .display-info{
        display: grid;
        grid-template:  "header header  header"
                        "sidebar content content"; 
        padding: 0px 25px;
    }

    .FormField{
        height: 35px;
        width: 100%;
        margin: 20px 10px; 
        padding-bottom: 10px;
    }

  .FormField label{
    font-size: 18px; 
    font-weight: 600;
    padding-bottom: 12px;
  }

  .FormField input{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: none; 
  }

  .FormField select{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: none; 
  }

  .custom-textarea{
        background-color: white;
        border: 3px solid black; 
        border-radius: 10px;
        width: 100%;
        max-height: 80px;
  }

  .custom-btn{
        display: inline-block;
        font-size: 24px; 
        background: #F0B724;
        border: 3px solid black;
        padding: 10px 15px;
        border-radius: 15px;
  }

</style>
<!-- Avt, cover và tên -->
<div>
    <div class='banner-wrapper'>
        {% if user_info.bg %}
        <img class='banner' src="{{ user_info.bg.url }}" alt="">
        {% else %}
        <img class='banner' src="https://t3.ftcdn.net/jpg/04/53/92/04/360_F_453920448_yMcff4E8ctdXQQegdaQ7WcXnHM3y3aMM.jpg">
        {% endif %}
    </div>
    
    {% if user_info.avt %}
    <img class='avt' src="{{ user_info.avt.url }}">
    {% else %}
    <img class='avt' src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png">
    {% endif %}
    
    <div style='display: inline-block; padding-left: 20px; justify-content: space-around;'>
        <h1>
            {{ user.username }}
        </h1>

        {% if request.user.username == user.username %}
        <a href="{% url 'edit' user.pk %}">
            <svg style=" width: 25px; height: 25px;" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                <path d="M20.1426 7.04053H6.80947C5.79914 7.04053 4.83018 7.44188 4.11577 8.1563C3.40135 8.87071 3 9.83967 3 10.85V37.5163C3 38.5267 3.40135 39.4956 4.11577 40.21C4.83018 40.9244 5.79914 41.3258 6.80947 41.3258H33.4758C34.4861 41.3258 35.4551 40.9244 36.1695 40.21C36.8839 39.4956 37.2853 38.5267 37.2853 37.5163V24.1832" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.4282 4.18345C35.1859 3.4257 36.2136 3 37.2853 3C38.3569 3 39.3846 3.4257 40.1424 4.18345C40.9001 4.9412 41.3258 5.96893 41.3258 7.04056C41.3258 8.11218 40.9001 9.13991 40.1424 9.89766L22.0474 27.9927L14.4284 29.8974L16.3332 22.2785L34.4282 4.18345Z" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        {% endif %}
    </div>
</div>

{% if page == 'edit' %}
<script>
    window.onscroll = function(){
        window.scrollTo(0, 0);
    }
</script>

<div class="editprofile-container">
    <div class="editbox">
        <a style="display: flex; float: right"; href="{% url 'profile' user.pk %}">x</a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Thông tin cá nhân</h1>
            <div style="justify-content: space-between;">
                <div class="FormField">
                    <label> Giới tính </label>
                    {{form.gender}}
                </div>
                <div class="FormField">
                    <label> Ngày tháng năm sinh </label>
                    {{form.dob}}
                </div>
                <div class="FormField">
                    <label> Địa điểm </label>
                    {{form.location}}
                </div>
                <div style="width: 90%; margin: 10px 13px">
                    <label style="font-size: 18px; font-weight: 600; padding-bottom: 12px;"> Giới thiệu bản thân </label>
                    {{form.description}}
                </div>
            </div>
            <div style="display: inline-block">
                <span> Ảnh đại diện: </span>
                {{form.avt}}
                <span> Ảnh bìa: </span>
                {{form.bg}}
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <button class="custom-btn" type="submit"> Cập nhật </button>
            </div>
        </form>
    </div>
</div>
{% endif %}

<div style='display: grid; grid-template-columns: 3fr 1fr; margin: 0px 6%; padding-top: 30px; column-gap: 40px;'>
      <!-- Bài đăng của người dùng -->
      <div>
        {% include 'base/postcard.html'%}
      </div>
    <!-- Thông tin của người dùng -->
    <div>
        <div class="container">
            <h1> Thông tin </h1>
            <div class="display-info">
                <div style="grid-area: header;"> {{user_info.description }}</div>
                <div style="grid-area: sidebar"> 
                    <p> Ngày tháng năm sinh: </p>
                    <p> Giới tính: </p>
                    <p> Địa điểm: </p>
                </div>
                <div style="grid-area: content">
                    <p> {{user_info.dob}} </p>
                    <p> {{user_info.gender}} </p>
                    <p> {{user_info.location}} </p>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}